<h2 id="speaking">Interested in speaking?</h2>

<p>We're always looking for speakers, so do drop us a line, regardless of your experience, we're all about first time speakers.</p>

<p>If you're looking for ideas, a few of the topics we're keen to hear about are:</p>

<ul>
  <li>Debugging &amp; profiling</li>
  <li>Frameworks</li>
  <li>Lightning talks</li>
  <li>PHP7, PHPNG</li>
  <li>Support tools (e.g. phplint, boris, phpsh)</li>
</ul>

{{ include('message.html.twig', {subject: 'proposal'}) }}
