<div class="video {%- if size is defined %} video--{{ size }} {%- endif %}">
  <iframe
    src="{{ talk.video.embed }}"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>

  <br>

  <a href="{{ talk.video.url }}" class="js-hidden">
    View video on {{ talk.video.type }}
    <i class="fa fa-external-link"></i>
  </a>
</div>
