<div class="video {%- if size is defined %} video--{{ size }} {%- endif %}">
  <iframe
    src="{{ talk.video }}?rel=0&amp;showinfo=0"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>

  <br>

  <a href="{{ talk.video }}" class="js-hidden">
    View video on
    {{ 'youtube.com' in talk.video ? 'YouTube' }}
    <i class="fa fa-external-link"></i>
  </a>
</div>
