{% extends 'base.html.twig' %}

{% block title %}
  Brand assets · {{ app.title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 text-center">
      <h2>PHPSW logo</h2>

      <a href="/images/logo.svg">
        <img src="/images/logo.svg" width="400">
      </a>

      <ul class="list list--inline">
        <li><a href="/images/logo-small.png">small</a></li>
        <li><a href="/images/logo-large.png">large</a></li>
        <li><a href="/images/logo.svg">svg</a></li>
      </ul>
    </div>

    <div class="col-sm-6 text-center">
      <h2>PHPSW logo inverted</h2>

      <a href="/images/logo-inverted.svg">
        <img src="/images/logo-inverted.svg" style="background: #1E1E1E" width="400">
      </a>

      <ul class="list list--inline">
        <li><a href="/images/logo-inverted-small.png">small</a></li>
        <li><a href="/images/logo-inverted-large.png">large</a></li>
        <li><a href="/images/logo-inverted.svg">svg</a></li>
      </ul>
    </div>

    <div class="col-sm-6 text-center">
      <h2>PHPSW balloon</h2>

      <a href="/images/balloon.svg">
        <img src="/images/balloon.svg" width="200">
      </a>

      <ul class="list list--inline">
        <li><a href="/images/balloon.svg">svg</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
