{% extends 'base.html.twig' %}

{% block title %}
  Events
{% endblock %}

{% block hero %}
  http://photos1.meetupstatic.com/photos/event/8/4/6/4/highres_366333892.jpeg
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Events</h1>
  </div>

  {{ render(path('meetup_events')) }}
{% endblock %}
