{% extends 'base.html.twig' %}

{% block title %}
  Speakers
{% endblock %}

{% block hero %}
  http://photos1.meetupstatic.com/photos/event/8/4/8/c/highres_366333932.jpeg
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Speakers</h1>
  </div>

  <div class="row">
    <div class="col-sm-8">
      {{ render(path('meetup_speakers')) }}
    </div>

    <div class="col-sm-4">
      <h2>Interested in speaking?</h2>

      <a
        href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=Speaking at PHPSW"
        class="btn btn-primary email"
      >
        Submit a talk
      </a>
    </div>
  </div>
{% endblock %}
