{% extends 'base.html.twig' %}

{% block content %}
  <h1>Speakers</h1>

  <div class="row">
    <div class="col-sm-8">
      {{ render(path('meetup_speakers')) }}
    </div>

    <div class="col-sm-4">
      <h2>Interested in speaking?</h2>

      <a href="{{ app.meetup.url }}" class="btn btn-primary">
        Submit a talk
      </a>
    </div>
  </div>
{% endblock %}
