{% extends 'base.html.twig' %}

{% block title %}
  Sponsors
{% endblock %}

{% block hero %}
  http://photos1.meetupstatic.com/photos/event/1/9/3/e/highres_333006462.jpeg
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>Sponsors</h1>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Meetup sponsors</h2>

      <div class="sponsors row">
        <div class="sponsor col-sm-6">
          <a href="http://www.ents24.com">
            <img src="/images/sponsors/ents24.png" alt="Ents24">
          </a>
          <br><br>
          <p>
            The UK's biggest entertainment guide, covering live music, comedy, theatre, shows and days out
          </p>
        </div>

        <div class="sponsor col-sm-6">
          <a href="http://www.redrockconsulting.co.uk">
            <img src="/images/sponsors/redrock.png" alt="Redrock Consulting">
          </a>
          <br><br>
          <p>
            Redrock Consulting&mdash;Ethical and transparent recruiters reaching out to Software Developers in the South-West&mdash;Firm believers in Long-Term relationships
          </p>
        </div>
      </div>

      <h2>Event sponsors</h2>

      <div class="sponsors row">
        <div class="sponsor col-sm-6">
          <a href="http://www.basekit.com">
            <img src="/images/sponsors/basekit.png" alt="BaseKit">
          </a>
          <br><br>
          <p>
            Beautiful websites for small businesses. The world's fastest growing website editor
          </p>
        </div>

        <div class="sponsor col-sm-6">
          <a href="https://www.brightpearl.com">
            <img src="/images/sponsors/brightpearl.png" alt="Brightpearl">
          </a>
          <br><br>
          <p>
            Brightpearl handles the scale and complexity of a growing multi-channel retail business
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Interested in sponsoring?</h2>

      <p>We're always on the look out for new sponsors, be that for individual events or as a meetup sponsor.</p>

      <p>The benefits we offer include:</p>

      <ul>
        <li>Exposure to skilled developers, who are actively engaging with the local tech community</li>
        <li>Logo on-screen at our events, on the website and on meetup.com</li>
        <li>Promotion as an employer</li>
        <li>Promotion of your events</li>
        <li>Attribution of snacks/bar/fees</li>
        <li>Speaking and/or hosting opportunities</li>
      </ul>

      <a
        href="mailto:{{ app.organisers.steve.email | replace({'@': ' at ', '.': ' dot '}) }}?subject=PHPSW sponsorship"
        class="btn btn-primary email"
      >
        Get in touch
      </a>
    </div>
  </div>
{% endblock %}
