{% extends 'base.html.twig' %}

{% block title %}
  Talks
{% endblock %}

{% block hero %}
  {{ hero('http://photos2.meetupstatic.com/photos/event/7/b/e/a/600_383071722.jpeg') }}
{% endblock %}

{% block content %}
  <h2 class="sr-only">Featured</h2>

  <div class="talks talks--talks row">
    {% for talk in talks[0:6] %}
      <div class="talks--talks__talk col-sm-6 col-md-4">
        {{ include('partials/talk--featured.html.twig') }}
      </div>

      {% if loop.index % 2 == 0 %}
        <div class="clearfix visible-xs visible-sm"></div>
      {% endif %}

      {% if loop.index % 3 == 0 %}
        <div class="clearfix hidden-xs hidden-sm"></div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-8">
      {{ include('partials/talks.html.twig', {'heading': 'Further viewing', 'talks': talks[6:], 'template': 'talk--with-speaker'}) }}
    </div>

    <div class="col-sm-4">
      {{ include('partials/speaking.html.twig') }}
    </div>
  </div>
{% endblock %}
