{% if talk.video %}
  <iframe
    src="{{ talk.video }}"
    frameborder="0" scrolling="no"
    allowfullscreen mozallowfullscreen webkitallowfullscreen
  >
  </iframe>

  <br>

  <a href="{{ talk.video }}">
    View on
    {{ 'youtube.com' in talk.video ? 'YouTube' }}
    <i class="fa fa-external-link"></i>
  </a>
{% endif %}
