# set this to 0 to disable thumbor, remove or set anything else to enable it
# you can temporarily override this with
# sudo service thumbor start force=1
enabled=1

# Location of the configuration file
conffile=/etc/thumbor.conf

# IP address to bind to. Defaults to all IP addresses
# ip=127.0.0.1

# TCP port to bind to. Defaults to port 8888.
# multiple instances of thumbor can be started by putting several ports coma separeted
# Ex:
port={{ thumbor.ports | join(",") }}
# or
# port=8888 #Default
