html {
    font-size: 62.5%;
}

body {
    background: #EDE4D3;
    min-width: 320px;
    margin: 0;
    padding: 1em;
    font: 16px helvetica neue, arial;
    line-height: 1.6;
    color: #8A7F70;
}

@media (min-width: 600px) {
    body {
        padding: 2em 4em;
    }
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #3c67a3;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

button {
    width: 100%;
    border: none;
    padding: .75em;
    font-size: inherit;
    text-align: center;
    color: #44403A;
    cursor: pointer;
}

h1, h2, h3 {
    color: #44403A;
    margin-top: 0;
}

h4, h5, h6, strong, b {
    margin: 0;
    color: #746A5D;
}

hr {
    border: 1px dashed #EDE4D3;
}

img {
    max-width: 100%;
}

.logo {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
}

@media (min-width: 600px) {
    .logo {
        float: none;
        max-width: 100%;
        margin: 0;
    }
}

.group {
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    background: white;
    background: rgba(255, 255, 255, .9);
    margin-bottom: 1em;
    padding: 1em;
}

.box__footer {
    margin-top: 1em;
    color: #A5998B;
    font-size: 12px;
    text-align: right;
}

.avatar {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

.avatar-mini {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    background: #CA3838;
    margin: .5em 0;
    padding: .25em .75em;
    color: white;
}

.genericon-time:before {
    line-height: 18px;
    width: 18px;
}

@media (min-width: 600px) {
    .left {
        float: left;
        width: 40%;
        margin-left: -1em;
    }

    .right {
        float: right;
        width: 60%;
        margin-right: -1em;
    }
}

.event--upcoming {
    background: white;
}

.event__attendees {
    font-size: 0;
}

.event__attendees li {
    margin: 0 2px 4px;
}

.event__map {
    width: 100%;
    height: 200px;
}

.event__map * {
    color: #44403A;
}

.event__map img {
    max-width: inherit;
}

.event {
    position: relative;
}

.event h3 {
    padding-right: 2em;
}

.event time {
    position: absolute;
    top: .75em;
    right: .75em;
    display: block;
    width: 36px;
    background: #fcfcfc;
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    border: 1px solid #d2d2d2;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #9e9e9e;
}

.event time > span {
    display: block;
    background: #d10000;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 0;
}

.contact ul li {
    position: relative;
    margin-bottom: 1em;
    padding-left: 3.5em;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul li a {
    display: block;
    max-width: 100px;
}

.contact ul li .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

/* Lists */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--icons li {
    margin-bottom: .5em;
}

.list--icons li:last-child {
    margin-bottom: 0;
}

.list--icons li a {
    line-height: 32px;
}

.list--icons li .genericon:before {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.list--inline li {
    display: inline-block;
}

/* Lighbox */

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  background: rgba(0, 0, 0, .5);
  max-width: 90%;
  max-height: 80%;
  margin-top: 2.5%;
  -moz-box-shadow: 0 0 200px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, .5);
  box-shadow: 0 0 200px rgba(0, 0, 0, .5);
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

/* JS */

.read-less {
    display: block;
    margin: 1em 0;
}

.js-hide {
    display: none;
}

.js-show {
    display: block;
}

/* Clearfix group */

/* For modern browsers */
.group:before,
.group:after {
        display: table;
        content: "";
}

.group:after {
        clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.group {
        zoom: 1;
}

/* Misc */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
