html {
    font-size: 62.5%;
}

body {
    background: #EDE4D3;
    min-width: 320px;
    margin: 0;
    padding: 2em;
    font: 16px helvetica neue, arial;
    line-height: 1.6;
    color: #8A7F70;
}

@media (min-width: 600px) {
    body {
        padding: 2em 4em;
    }
}

@font-face {
    font-family: 'JustVector';
    src: url('/fonts/justvectorv2-webfont.eot');
    src: url('/fonts/justvectorv2-webfont.eot?#iefix') format('eot'),
         url('/fonts/justvectorv2-webfont.woff') format('woff'),
         url('/fonts/justvectorv2-webfont.ttf') format('truetype'),
         url('/fonts/justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: #3c67a3;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

button {
    width: 100%;
    border: none;
    padding: .75em;
    font-size: inherit;
    text-align: center;
    color: #44403A;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    color: #44403A;
    margin-top: 0;
}

img {
    max-width: 100%;
}

.group {
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    background: white;
    background: rgba(255, 255, 255, .9);
    margin-bottom: 1em;
    padding: 1em;
}

.box footer {
    margin-top: 1em;
    color: #A5998B;
    font-size: 12px;
    text-align: right;
}

@media (min-width: 600px) {
    .group > div {
        float: left;
        width: 40%;
        margin-left: -1em;
    }

    .events, .posts, .tweets {
        float: right;
        width: 60%;
        margin-right: -1em;
    }
}

.event--upcoming {
    background: white;
}

.event__map {
    width: 100%;
    height: 200px;
}

.event {
    position: relative;
}

.event h3 {
    padding-right: 2em;
}

.event time {
    position: absolute;
    top: .75em;
    right: .75em;
    display: block;
    width: 36px;
    background: #fcfcfc;
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
    border: 1px solid #d2d2d2;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #9e9e9e;
}

.event time > span {
    display: block;
    background: #d10000;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 0;
}

.event__attendee img {
    width: 32px;
    height: 32px;
}

.contact ul li {
    position: relative;
    margin-bottom: 1em;
    padding-left: 3.5em;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul li a {
    display: block;
    max-width: 100px;
}

.contact ul li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
}

/* Lists */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--icons li {
    margin-bottom: .5em;
}

.list--icons li:last-child {
    margin-bottom: 0;
}

.list--icons li a {
    line-height: 32px;
    text-decoration: none;
}

.list--icons li a .genericon {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.list--icons li a:hover .genericon,
.list--icons li a:focus .genericon {
    text-decoration: none;
}

.list--icons li a:hover span,
.list--icons li a:focus span {
    text-decoration: underline;
}

.list--inline {
  li {
    display: inline-block;
  }
}

/* JS */

.read-less {
    display: block;
    margin: 1em 0;
}

.js-hide {
    display: none;
}

.js-show {
    display: block;
}

/* Clearfix group */

/* For modern browsers */
.group:before,
.group:after {
        display: table;
        content: "";
}

.group:after {
        clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.group {
        zoom: 1;
}
