#!/usr/bin/env bash
set -e

s3cmd sync $(s3cmd ls s3://phpsw/backups/* -c ~/.s3cfg \
 | tail -n 1 \
 | awk '{ print $4 }') /var/lib/redis/dump.rdb.gz -c ~/.s3cfg

service redis-server stop

gzip -df /var/lib/redis/dump.rdb.gz
chown redis:redis /var/lib/redis/dump.rdb
chmod 660 /var/lib/redis/dump.rdb

service redis-server start

{% if ansible_hostname == 'phpsw.vm' %}
redis-cli keys \* \
 | awk '{ print $1 }' \
 | perl -pe 's/phpsw:(.*)/rename phpsw:\1 phpsw:dev:\1/g' \
 | redis-cli -x
{% endif %}
