<section class="events events--upcoming">
    <h2>Upcoming events</h2>

    {% for event in upcoming_events %}
        {{ include('meetup/event.html.twig') }}
    {% else %}
        <div class="box box--empty">
            Nothing to announce right now,
            <a href="{{ app.twitter.url }}">
                follow us on Twitter
            </a>
            for updates.
        </div>
    {% endfor %}
</section>

<section class="events events--past">
    <h2>Past events</h2>

    {% for event in past_events %}
        {{ include('meetup/event.html.twig') }}
    {% endfor %}
</section>
