{% if photos %}
  <section id="photos" class="photos">
    <header class="box__header">
      <h2>Photos</h2>
    </header>

    <ul class="list list--inline list--images">
      {% for photo in photos if photo.photo_album.event_id | default %}
        <li>
          <a href="#photo-{{ photo.photo_id }}" class="photo">
            <img src="{{ path('meetup_photo', {id: photo.photo_id, size: 'thumb'}) }}" alt="" width="80" height="60">
          </a>

          <!-- lightbox container hidden with CSS -->
          <a href="#x" id="photo-{{ photo.photo_id }}" class="lightbox photo">
            <img src="{{ path('meetup_photo', {id: photo.photo_id, size: 'highres'}) }}" alt="">
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
