<article class="post">
  <header class="box__header">
    <h3>
      <a href="{{ post.url }}">
        {{ post.subject }}
      </a>
    </h3>
  </header>

  <footer class="box__footer">
    <time datetime="{{ post.last_post.created_date.format(constant('DATE_W3C')) }}">
      <i class="fa fa-clock-o"></i>
      {{ post.last_post.created_date.format('l jS F Y') }}
    </time>
  </footer>
</article>
