<article class="post">
    <header class="box__header">
        <h3>
            <a href="{{ post.url }}">
                {{ post.subject }}
            </a>
        </h3>
    </header>

    <footer class="box__footer">
        <time class="genericon genericon-time" datetime="{{ post.last_post.created_date.format(constant('DATE_W3C')) }}">
            {{ post.last_post.created_date.format('l jS F Y') }}
        </time>
    </footer>
</article>
