$color: desaturate($brand-primary, 30%);

.balloons {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
}

.balloon {
  position: absolute;
  transform: translateY(0);
  transform-origin: 50% 50%;
  transition: 1s ease-in-out;

  .header & {
    animation: launch 2s ease-in-out;
  }
}

.balloon--small {
  width: 25px;
  height: 25px;
  top: 10px;
  right: 175px;
  fill: lighten($color, 45%);

  .header:hover & {
    transform: translateY(.25em)
  }
}

.balloon--medium {
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  fill: lighten($color, 40%);

  .header:hover & {
    transform: translateY(.5em)
  }
}

.balloon--large {
  width: 75px;
  height: 75px;
  top: 22.5px;
  right: 75px;
  fill: lighten($color, 30%);

  .header:hover & {
    transform: translateY(-.5em)
  }
}

@keyframes launch {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
