.event {
  position: relative;

  &__stats {
    margin: -20px 0 20px;
    font-size: 0;
    overflow: hidden;

    &__stat {
      display: inline-block;
      position: relative;
      background: #eee;
      padding: 2px 8px;
      font-size: $font-size-base;
      color: inherit;

      &:first-child {
        border-bottom-left-radius: 1em;
        padding-left: 16px;

        &:before, &:after {
          position: absolute;
          display: block;
          top: 0;
          content: '';
        }

        &:before {
          background: #eee;
          left: -1em;
          width: 1em;
          height: 1em;
        }

        &:after {
          background: white;
          border-radius: 1.5em;
          left: -3em;
          width: 3em;
          height: 3em;
        }
      }

      &:last-child {
        border-bottom-right-radius: 4px;
      }
    }
  }

  &__attendees {
    li {
      margin: 0 2px 4px;
    }
  }

  &__venue {
    background: {
      position: 50% 50%;
      size: cover;
    }
    position: relative;
    width: 100%;
    height: 400px;
    margin: 3em 0 2em;

    @include js {
      background-image: none !important;
    }

    &__overlay {
      background: white;
      position: absolute;
      top: 4em;
      left: 6em;
      padding: 1em;
      box-shadow: 2px 2px 10px rgba($gray-dark, .25);

      h2 {
        margin-top: 0;
      }
    }
  }

  &__map {
    width: 100%;
    height: 400px;

    * {
      color: #44403A;
    }

    img {
      max-width: inherit;
    }
  }

  &__prev, &__next {
    background: white;
    display: none;
    position: fixed;
    top: 0;
    width: 4em;
    height: 100%;
    padding: 2em;
    color: #ccc;
    text-align: center;
    z-index: 0;

    &:hover, &:focus {
      background: darken(white, 2.5%);
    }

    i {
      display: block;
      position: fixed;
      top: 50%;
      width: 4em;
      margin-top: -.5em;
    }

    @media screen and (min-width: $screen-sm-min) { display: none; }
    @media screen and (min-width: $screen-sm-min + 14 * 6)  { display: block; }

    @media screen and (min-width: $screen-md-min) { display: none; }
    @media screen and (min-width: $screen-md-min + 14 * 6)  { display: block; }

    @media screen and (min-width: $screen-lg-min) { display: none; }
    @media screen and (min-width: $screen-lg-min + 14 * 6)  { display: block; }
  }

  &__prev {
    &, i {
      left: 0;
    }
  }

  &__next {
    &, i {
      right: 0;
    }
  }
}
