.hero {
  background: white;
  position: relative;
  height: 200px;
  overflow: hidden;
  z-index: 1;

  @media (min-width: $screen-sm-min) {
    height: 350px;
  }

  &--speaker {
    .hero__image {
      @media (min-width: $screen-xs-min) {
        background: {
          position: 75% 50%;
          size: auto 150%;
        }
      }

      @media (min-width: $screen-sm-min) {
        background-size: auto 120%;
      }
    }
  }

  &__image {
    background: {
      position: 50% 50%;
      repeat: no-repeat;
      size: cover;
    }
    box-shadow: inset 0 -20px 100px rgba($gray-dark, .25);
    position: absolute;
    width: 100%;
    height: 120%;
    top: -20%;
    left: 0;
  }

  &__overlay {
    background: rgba($gray-dark, 0);
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
