@mixin js {
    .js & {
        @content;
    }
}

@mixin no-js {
    .js & {
        @content;
    }
}

.js-hidden {
    .js & { display: none; }
    .no-js & { display: block; }
}

.js-shown {
    .js & { display: block; }
    .no-js & { display: none; }
}

.no-js i.js-hidden { display: inline; }
.js i.js-shown { display: inline; }
