@mixin js {
    .js & {
        @content;
    }
}

@mixin no-js {
    .js & {
        @content;
    }
}

.js-hidden {
    .js & { display: none; }
    .no-js & { display: block; }
}

.js-shown {
    .js & { display: block; }
    .no-js & { display: none; }
}
