html {
  position: relative;
  min-height: 100%;
}

.header {
  background: white;
  position: relative;
  z-index: 1;

  .container {
    position: relative;
    padding: 15px;
  }

  h1 {
    margin: 0;
    font-size: 0;
  }
}

.page-header {
  margin-top: 20px;
}

.content {
  margin-bottom: 60px;
}

section {
  margin-top: 20px;
  border-top: 1px solid lighten($gray-lighter, 5%);
}

.footer {
  background-color: #f5f5f5;
  position: relative;
  margin-top: 60px;
  padding: 20px 20px 40px;
  color: desaturate(darken($brand-primary, 5%), 40%);
  z-index: 1;

  nav {
    position: relative;
    z-index: 1
  }

  a {
    color: desaturate(lighten($brand-primary, 10%), 40%);
  }
}
