html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 180px; // margin bottom by footer height
}

.header {
  .container {
    position: relative;
    padding: 15px 0 15px 15px;
  }

  h1 {
    margin: 0;
    font-size: 0;
  }
}

.page-header {
  margin-top: 20px;
}

.footer {
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; // set the fixed height of the footer here
  padding: 20px 0;
}
