$lightbox: darken($brand-primary, 40%);

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  background: black;
  background: rgba($lightbox, .75);
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
}

.lightbox img {
  /** Pad the lightbox image */
  background: rgba($lightbox, .5);
  max-width: 90%;
  max-height: 80%;
  border-radius: 4px;
  position: relative;
  top: 10%;
  box-shadow: 0 0 100px rgba($lightbox, .75);
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

.lightbox-x {
  position: fixed;
  top: 0;
  left: 0;
}
