.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list--images {
  font-size: 0;

  li {
    font-size: $font-size-base;
    margin: 0 5px 5px 0;

    img {
      border-radius: 2px;
    }
  }
}

.list--inline {
  li {
    display: inline-block;
  }
}
