.navbar {
  position: relative;
  min-height: 0;
  margin: 0;
  z-index: 1;

  .no-js &.collapse {
      display: block; // fuck bootstrap, nav should work without js
  }

  .nav > li > a {
    padding: {
      left: 13px;
      right: 13px;
    }
  }

  .fa-twitter {
    position: relative;
    top: .125em;
    font-size: 1.25em;
  }
}

.navbar-collapse {
  padding: {
    left: 0;
    right: 0;
  }
}

.navbar-nav {
  margin: {
    top: 0;
    bottom: 0;
  }
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  font-size: $font-size-base / 1.75;
  transition: .25s;

  .lines {
    background: transparent;
    position: relative;

    &, &:before, &:after {
      display: inline-block;
      width: 4em;
      height: .6em;
      border-radius: .25em;
      transition: .25s;
    }

    &:before, &:after {
      background: $text-color;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &.collapsed {
    transform: none;

    .lines {
      background: $text-color;

      &:before, &:after {
        transform-origin: .25em center;
      }

      &:before {
        top: 1em;
        transform: none;
      }

      &:after {
        top: -1em;
        transform: none;
      }
    }

    &:hover, &:focus {
      opacity: 1;

      .lines {
        &:before {
          top: 1.14286em;
        }

        &:after {
          top: -1.14286em;
        }
      }
    }

    &:active {
      transition: 0;
    }
  }
}


