.navbar {
  min-height: 0;
  margin: 0;

  .no-js &.collapse {
      display: block; // fuck bootstrap, nav should work without js
  }
}

.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;

    .genericon {
        &:before {
            font-size: $font-size-base * 1.5;
        }
    }

    .genericon-menu {
        display: none;
    }

    .genericon-close-alt {
        display: block;
    }

    &.collapsed {
        .genericon-menu {
            display: block;
        }

        .genericon-close-alt {
            display: none;
        }
    }
}
