.speakers {
  ul {
    margin-bottom: -20px;

    li {
      margin: 20px 20px 20px 0;
      vertical-align: top;
    }
  }

  a {
    display: block;
    width: 80px;
    height: 140px;
    text-align: center;
  }
}
