.talks {
  padding: 1em 0;

  h3 {
    margin: 0;
  }

  ul {
    li {
      margin: 1em 0;
    }
  }

  .avatar {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.5em;
  }
}

.talk {
  .talks--event & {
    &__section {
      position: relative;
      padding-left: 4em;
    }
  }

  &__description {
    margin-top: .5em;
    color: lighten($text-color, 20%);
  }

  &__slides {
    margin: 1em 0;

    iframe {
      width: 320px !important;
      max-width: 100%;
      min-height: 200px !important;
      margin: 0 !important;
    }

    &__link {
      margin: .5em 0;
    }
  }
}
