body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.photo img {
  border-radius: 2px;
}

@import "variables";
@import "avatars";
@import "balloons";
@import "contact";
@import "events";
@import "js";
@import "layout";
@import "lightbox";
@import "lists";
@import "logo";
@import "organisers";
@import "sponsors";
