@import "variables";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3 {
  time {
    white-space: nowrap;
  }
}

a {
  cursor: pointer;

  svg {
    fill: $link-color;
    width: 1em;
    height: 1em;
  }

  &:hover, &:focus {
    svg {
      fill: $link-hover-color;
    }
  }
}

img, svg {
  max-width: 100%;
}

@import "layout";
@import "hero";
@import "js";
@import "lightbox";
@import "lists";
@import "logo";
@import "nav";

@import "avatars";
@import "balloons";
@import "calendar";
@import "contact";
@import "event";
@import "events";
@import "organisers";
@import "progress";
@import "speakers";
@import "talks";
