body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

@import "variables";
@import "avatars";
@import "balloons";
@import "calendar";
@import "contact";
@import "events";
@import "hero";
@import "js";
@import "layout";
@import "lightbox";
@import "lists";
@import "logo";
@import "nav";
@import "organisers";
@import "progress";
@import "speakers";
@import "sponsors";
