.avatar {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    vertical-align: middle;

    &.avatar--small {
        width: 40px;
        height: 40px;
    }

    &.avatar--large {
        border-radius: 40px;
        width: 80px;
        height: 80px;
    }
}
