.avatar {
    width: 3em;
    height: 3em;
    margin-right: .25em;
    vertical-align: middle;
    border-radius: 2px;

    &.avatar-small {
        width: 32px;
        height: 32px;
    }

    &.avatar-large {
        width: 6em;
        height: 6em;
    }
}
