.avatar {
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
    margin-right: .25em;
    vertical-align: middle;

    &.avatar-small {
        width: 3em;
        height: 3em;
    }

    &.avatar-large {
        border-radius: 3em;
        width: 6em;
        height: 6em;
    }
}
