body {
    min-width: 320px;
    margin: 0;
    padding: 1em;
    line-height: 1.6;

    @media (min-width: 600px) {
        padding: 2em 4em;
    }
}

img {
    max-width: 100%;
}

.logo {
    float: right;
    width: 200px;
    max-width: 40%;
    margin: 0 0 1em 1em;
    border-radius: 2px;
}

@media (min-width: 600px) {
    .logo {
        float: none;
        max-width: 100%;
        margin: 0;
    }
}

.fn {
    white-space: nowrap;
}


.photo img {
    border-radius: 2px;
}
