// # Ghost Configuration

var path = require('path'),
    config;

config = {
    production: {
        url: 'https://blog.{{ app_hostname }}',
        mail: {},
        database: {
            client: 'postgres',
            connection: {
                  host: '{{ blog.database.host }}',
                  database: '{{ blog.database.name }}',
                  user: '{{ blog.database.user }}',
                  password: '{{ blog.database.password }}',
                  port: '{{ blog.database.port }}'
            },
            debug: false
        },
        mail: {
            transport: 'SMTP',
            options: {
                host: 'smtp.mandrillapp.com',
                port: 587,
                service: 'Mandrill',
                auth: {
                    user: 'info@phpsw.uk',
                    pass: '{{ mandrill.api.key }}'
                }
            }
        },
        server: {
            host: '0.0.0.0',
            port: '2368'
        },
        storage: {
            active: 'ghost-s3',
            'ghost-s3': {
                accessKeyId: '{{ amazon.access_key }}',
                secretAccessKey: '{{ amazon.secret_key }}',
                bucket: 'phpsw',
                region: 'eu-west-1',
                assetHost: 'https://phpsw.s3.amazonaws.com/'
            }
        }
    }
};

module.exports = config;
