#!/usr/bin/env bash
set -e

s3cmd sync $(s3cmd ls s3://phpsw/backups/phpsw-blog-* -c ~/.s3cfg \
 | tail -n 1 \
 | awk '{ print $4 }') /tmp/ghost.tar.gz -c ~/.s3cfg

# service blog stop

tar xvf /tmp/ghost.tar.gz -C {{ blog_path }}/content
chown -R {{ ansible_ssh_user }}:{{ ansible_ssh_user }} {{ blog_path }}/content

# service blog start
